.list-appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}
.title-star-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: roboto;
  margin: 0px;
}
.date {
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
  margin: 0px;
}
.start-btn {
  border: none;
  background-color: transparent;
  outline: none;
}
.star-img {
  width: 30px;
  height: 30px;
}
